<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <style>
        body {
            color: black;
            background: #d10a49;
        }
        .row {
            margin: 12px;
        }
        .Absolute-Center {
            width: 50%;
            height: 50%;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    </style>
</head>
<body>
{% block content %}
    <form class="w-50 Absolute-Center" method="post", action="" name="RegisterUser">{% csrf_token %}
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" name="first_name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" name="last_name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Birth date" name="birth_date">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Identification number" name="id_num">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Health insurance number" name="insur_num">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Address" name="address">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Telephone number" name="tel_num">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Password" name="password">
            <input type="hidden" value="True" class="form-control" name="is_doctor">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
</body>
</html>