<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Personal Page</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        /* Split the screen in half */
        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        /* Control the left side */
        .left {
            left: 0;
        }

        /* Control the right side */
        .right {
            right: 0;
            background-color: #ffffff;
        }
        .form-control {
            width: 100%;
            margin: 2px;
        }
    </style>
</head>
<body>
<div class="split left">
    <div class="centered">
        <h2>Add prescription</h2>
        <form class="form">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Patients First Name" name="first_name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Patient Last Name" name="last_name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Patient DOB" name="dob">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Medication" name="medication">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Frequency" name="frequency">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Dosage" name="dosage">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Expiration Date" name="exp_date">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Description" name="description">
                </div>
            </div>
            <div class="row">
                <div class="col" align="center">
                    <button type="submit" class="btn btn-light">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="split right">
    <div class="centered">
        <h2>Edit Files</h2>
    </div>
    <div class="centered">
        <h2>Modify prescription</h2>
        <form class="form">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Patient" id="doc">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Medication" id="med">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Frequency" id="fre">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Dosage" id="dos">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Expiration Date" id="exp">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Description" id="des">
                </div>
            </div>
            <div class="row">
                <div class="col" align="center">
                    <button type="submit" class="btn btn-light" onClick="autoFill(); return true;" >Click to Autofill</button>
                </div>
            </div>
            <div class="row">
                <div class="col" align="center">
                    <button type="submit" class="btn btn-light">Submit and send back</button>
                </div>
            </div>
        </form>
    </div>
    <img class="doctor" src="img/doctor.PNG">
</div>
</body>
</html>
<script type="text/javascript">
    function autoFill() {
        document.getElementById('doc').value = "My Text Input";
        document.getElementById('med').value = "Dropdown2";
        document.getElementById('fre').value = "Dropdown2";
        document.getElementById('dos').value = "Dropdown2";
        document.getElementById('exp').value = "Dropdown2";
        document.getElementById('des').value = "Dropdown2";

        var radioElements = document.getElementsByName("input3");

        for (var i=0; i<radioElements.length; i++) {
            if (radioElements[i].getAttribute('value') == 'Radio3') {
                radioElements[i].checked = true;
            }
        }
    }
</script>
