{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AAA</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

</head>

<body>
<div class="split left">
    <div class="centered">
        <h2>Patient</h2>
        <button class="btn btn-outline-light" onclick="location.href='newPatient';">REGISTER</button>
        <button class="btn btn-outline-light" onclick="location.href='index';">LOGIN</button>
    </div>
    <img class="patient" src="/static/img/patient.PNG">
</div>
<div class="split right">
    <div class="centered">
        <h2>Doctor</h2>
        <button class="btn btn-outline-dark" onclick="location.href='newDoctor';">REGISTER</button>
        <button class="btn btn-outline-dark" onclick="location.href='index';">LOGIN</button>

    </div>
    <img class="doctor" src="/static/img/doctor.PNG">
</div>

</body>

</html>
